# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\data-structure-and-algorithms\Algorithms\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
